html {
  font-size: 18px;
  line-height: 1.4;
}

header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main-nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: cadetblue;
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo-area img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo-area span,
.menu-items span {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}

.menu-items span {
  padding-right: 2rem;
}

.headline.container {
  display: flex;
  justify-content: flex-end;
}

.banner {
  display: block;
  margin-top: 10rem;
  margin-right: -2rem;
}

.banner h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  display: block;
  background-color: white;
  padding: 1.5rem 5rem;
}

.services.container {
}

.items {
  display: flex;
  justify-content: center;
}

.item img {
  width: 5rem;
}

.paper img {
  width: 3.5rem;
}

.item {
  margin: 3rem;
  height: 8rem;
  text-align: center;
  width: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

}

.item span {
  line-height: 1.2rem;
}

.information.container {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.info {
  width: 35%;
  margin-right: 5%;
}

.title {
  margin-bottom: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.footer {
  background-color: azure;
}

.copyright {
  display: flex;
  align-items: center;
  padding: 4rem;
}

.copyright img {
  height: 1.5rem;
  margin-right: 1rem;
}
.mobile.menu-items {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  header {
    height: 22rem;
    padding-top: 0;
  }
  .banner h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
  .banner {
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .mobile.menu-items {
    display: none;
  }
}

@media only screen and (max-width : 660px) {
  .headline.container {
    display: block;
    text-align: center;
  }
  .banner {
    margin-top: 8rem;
    margin-right: 0;
  }
  .banner h1 {
    padding: 1rem 0;
    font-size: 1rem;
  }
  header {
    background-position: 20%;
    height: 17rem;
  }
  .items {
    flex-direction: column;
    align-items: center;
  }
  .item {
    margin: 0 0 0 0;
    margin-bottom: 1.54rem;
    height: 6rem;
  }
  .services.container {
    margin-top: 3.77rem;
  }
  .paper.item {
    height: 8rem;
  }
  .item span {
    font-family: Helvetica;
    font-size: 0.77rem;
  }
  .information.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info {
    width: 100%;
    margin-right: 0;
  }
  .title {
    width: 100%;
  }
  .info p {
    margin-left: 0.5rem;
    margin-bottom: 3rem;
    font-family: Helvetica;
    font-size: 0.77rem;
  }
  .logo-area span {
    display: none;
  }
  .menu-items {
    display: none;
  }
  .mobile.menu-items {
    display: block;
  }
}
